<header class="headersize">
  <%= link_to "/static_pages/home" do %>
  <%= image_tag  'doraraii.jpg' , :width => '100%', :height => '350' %>
  <% end %>
    <!--<h3><%="シャドウバース"%></h3>1440-->
    <% if logged_in? %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <div class="titi"><%=link_to "ドラクエライバルズ非公式大会掲示板","/static_pages/home" %></div>
        <li class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        		Account
        		<span class="caret"></span>
        	</button>
          <ul class="dropdown-menu">
            <li><%= link_to "My page", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <% else %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <div class="tit"><%=link_to "ドラクエライバルズ非公式大会掲示板","/static_pages/home" %></div>
        <div class="board"></div>
        <div class="in"><a href="/signup" class="btn btn-info active">簡単登録</a></div>
        <div class="in"><a href="/login" class="btn btn-info active">ログイン</a></div>
      </ul>
    </nav>
    <% end %>
</header>
<hr>
